/* // Banners */

.textbanner {
  .textbanner-image.overlay {
    -webkit-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }  

  &:hover .textbanner-image.overlay, &:focus .textbanner-image.overlay {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.02);
  }
}