/*============================================================================
  #Components
==============================================================================*/

/* // Wrappers */

body {
	margin: 0 !important;
	font-size: 12px;
}

/* // Placeholders and preloaders */

.placeholder-line-medium {
	height: 25px;
}

.placeholder-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.placeholder-full-height {
	position: relative;
	height: 100%;
}

.home-placeholder-icons {
	position: absolute;
	top: calc(50% - 75px);
}

.product-placeholder-container {
	position: relative;
	max-height: 900px;
	margin-bottom: 20px;
	overflow: hidden;
}

.placeholder-shine {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	-moz-animation: placeholder-shine 1.5s infinite;
	-webkit-animation: placeholder-shine 1.5s infinite;
	animation: placeholder-shine 1.5s infinite;
}

@keyframes placeholder-shine {
	0% {
		opacity: 0.1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.1;
	}
}

.placeholder-fade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	-moz-animation: placeholder-fade 1.5s infinite;
	-webkit-animation: placeholder-fade 1.5s infinite;
	animation: placeholder-fade 1.5s infinite;
}

@keyframes placeholder-fade {
	0% {
		opacity: 0.1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 0.1;
	}
}

.blur-up {
	position: absolute;
	top: 0;
	-webkit-filter: blur(2px);
	filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	transition: opacity 0.2s, -webkit-filter 0.2s;
}

.blur-up-big {
	-webkit-filter: blur(6px);
	filter: blur(6px);
	-moz-filter: blur(6px);
	-ms-filter: blur(6px);
	-o-filter: blur(6px);
	transition: filter 0.2s, -webkit-filter 0.2s;
}

.blur-up-huge {
	-webkit-filter: blur(8px);
	filter: blur(8px);
	-moz-filter: blur(8px);
	-ms-filter: blur(8px);
	-o-filter: blur(8px);
	transition: filter 0.2s, -webkit-filter 0.2s;
}

.blur-up.lazyloaded,
.blur-up-big.lazyloaded,
.blur-up-huge.lazyloaded,
.blur-up.swiper-lazy-loaded,
.blur-up-big.swiper-lazy-loaded,
.blur-up-huge.swiper-lazy-loaded {
	-webkit-filter: none;
	filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
}

.preloader-bg-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	-moz-filter: blur(4px);
	-ms-filter: blur(4px);
	-o-filter: blur(4px);
	transition: filter 0.2s, -webkit-filter 0.2s, opacity 0.2s;

	/* Avoid strange image behaviour on filters in IOS */
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.product-slider-image.blur-up {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	-moz-filter: blur(4px);
	-ms-filter: blur(4px);
	-o-filter: blur(4px);
	transition: filter 0.2s, -webkit-filter 0.2s, opacity 0.2s;

	/* Avoid strange image behaviour on filters in IOS */
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	left: 50%;
	width: auto;
}

.swiper-lazy-loaded + .preloader-bg-img,
.lazyloaded + .blur-up {
	opacity: 0;
	-webkit-filter: none;
	filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
}

.swiper-nav-button {
	font-weight: 500;
	font-size: var(--font-small);
	color: var(--main-foreground);
	fill: var(--main-foreground);
	cursor: pointer;

	&.active {
		font-weight: 700;
		color: var(--accent-color);
		fill: var(--accent-color);
	}
}

.fade-in {
	opacity: 0;
	transition: opacity 0.2s;

	&.lazyloaded {
		opacity: 1;
	}
}

.lazyloaded + {
	.blur-up {
		opacity: 0;
		pointer-events: none;
	}

	.placeholder-shine,
	.placeholder-fade {
		display: none;
	}
}

.spinner-ellipsis {
	position: relative;
	display: inline-block;
	width: 64px;
	height: 40px;

	.point {
		position: absolute;
		top: 15px;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);

		&:nth-child(1) {
			left: 6px;
			animation: spinner-ellipsis1 0.6s infinite;
		}

		&:nth-child(2) {
			left: 6px;
			animation: spinner-ellipsis2 0.6s infinite;
		}

		&:nth-child(3) {
			left: 26px;
			animation: spinner-ellipsis2 0.6s infinite;
		}

		&:nth-child(4) {
			left: 45px;
			animation: spinner-ellipsis3 0.6s infinite;
		}
	}
}

@keyframes spinner-ellipsis1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes spinner-ellipsis3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes spinner-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(19px, 0);
	}
}

/* // Animations */

.transition-up {
	opacity: 0;
}

/* // Buttons */

.btn-whatsapp {
	position: fixed;
	bottom: 60px;
	right: 10px;
	z-index: 100;
	color: white;
	background-color: #4dc247;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	border-radius: 50%;

	svg {
		width: 45px;
		height: 45px;
		padding: 10px;
		fill: white;
		vertical-align: middle;
	}
}

/* // Links */

a {
	text-decoration: none;
}

/* // Headings */

.page-header-text {
	margin: 0.5rem 0 0 0;
	font-size: 12px;
	text-align: center;
}

/* // Titles and breadcrumbs */
.crumb{
	color: #000 !important;
}
h1,
.h1 {
	font-size: 28px;
	font-weight: 700;
}

h2,
.h2 {
	font-size: 24px;
	font-weight: 700;
}

h3,
.h3 {
	font-size: 20px;
	font-weight: 700;
}

h4,
.h4 {
	font-size: 18px;
	font-weight: 700;
}

h5,
.h5 {
	font-size: 16px;
	font-weight: 700;
}

h6,
.h6 {
	font-size: 14px;
	font-weight: 700;
}

/* // Texts */

p {
	margin-top: 0;
	line-height: 22px;
}

.user-content {
	ul {
		padding-left: 20px;

		li {
			margin-bottom: 10px;
			line-height: 22px;
		}
	}

	table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 10px;
		line-height: 22px;
	}
}

.price-compare {
	text-decoration: line-through;
	margin-right: 5px;
	opacity: 0.5;
}

.font-small {
	font-size: 12px !important;
}

.font-smallest {
	font-size: 11px !important;
}

.font-big {
	font-size: 16px;
}

/* // Icons */

.icon-inline {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -0.125em;
}

.icon-xs {
	font-size: 0.75em;
}

.icon-md {
	font-size: 0.875em;
}

.icon-lg {
	font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -0.0667em;
}
.icon-lg-2 {
	font-size: 1.10em;
	line-height: 0.75em;
	vertical-align: -0.0667em;
}

.icon-2x {
	font-size: 2em;
}

.icon-3x {
	font-size: 3em;
}

.icon-4x {
	font-size: 4em;
}

.icon-5x {
	font-size: 5em;
}

.icon-6x {
	font-size: 6em;
}

.icon-7x {
	font-size: 7em;
}

.icon-8x {
	font-size: 8em;
}

.icon-9x {
	font-size: 9em;
}

.icon-inline {
	&.icon-lg {
		vertical-align: -0.225em;
	}

	&.icon-w {
		text-align: center;
		width: 1.25em;
	}

	&.icon-w-1 {
		width: 0.0625em;
	}

	&.icon-w-2 {
		width: 0.125em;
	}

	&.icon-w-3 {
		width: 0.1875em;
	}

	&.icon-w-4 {
		width: 0.25em;
	}

	&.icon-w-5 {
		width: 0.3125em;
	}

	&.icon-w-6 {
		width: 0.375em;
	}

	&.icon-w-7 {
		width: 0.4375em;
	}

	&.icon-w-8 {
		width: 0.5em;
	}

	&.icon-w-9 {
		width: 0.5625em;
	}

	&.icon-w-10 {
		width: 0.625em;
	}

	&.icon-w-11 {
		width: 0.6875em;
	}

	&.icon-w-12 {
		width: 0.75em;
	}

	&.icon-w-13 {
		width: 0.8125em;
	}

	&.icon-w-14 {
		width: 0.875em;
	}

	&.icon-w-15 {
		width: 0.9375em;
	}

	&.icon-w-16 {
		width: 1em;
	}

	&.icon-w-17 {
		width: 1.0625em;
	}

	&.icon-w-18 {
		width: 1.125em;
	}

	&.icon-w-19 {
		width: 1.1875em;
	}

	&.icon-w-20 {
		width: 1.25em;
	}
}

.icon-spin {
	-webkit-animation: icon-spin 2s infinite linear;
	animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* // Sliders */
/* // --- end: swiper featured home --- */

.section-slider {
	max-height: 100vh;
}

.nube-slider-home {
	height: 100%;
}

.swiper-wrapper.disabled {
	transform: translate3d(0px, 0, 0) !important;
}

.slide-container {
	overflow: hidden;
}

.slider-slide {
	height: 100%;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.slider-image {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.swiper-pagination-fraction {
	position: absolute;
	left: 50%;
	width: auto;
	padding: 5px;
	transform: translateX(-50%);
	font-size: 18px;
	background: #00000045;
	color: #ffffff85;
}

.swiper-text {
	position: absolute;
	top: 50%;
	bottom: auto;
	left: 50%;
	width: 92%;
	padding: 0 25px;
	text-align: center;
	transform: translate(-50%, -50%);
}

.swiper-title {
	font-size: 36px;
}

/* // Lists */

.list,
.list-unstyled {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.list-inline li {
	display: inline-flex;
}

/* // Tables */

.table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	thead th {
		padding: 8px;

		&:first-of-type {
			padding-left: 0;
		}
	}

	td {
		padding: 8px;
		text-align: left;
	}
}

/* // Notifications */

.notification {
	padding: 10px;
	text-align: center;
	background-color: var(--main-background);
}

.notification-floating {
	position: absolute;
	top: 100%;
	right: 15px;
	z-index: 2000;
	width: calc(100% - 30px);
	margin-top: -20px;
}

.notification-fixed {
	position: fixed;
	right: 0;
	left: 15px;
}

.notification-close {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0 5px;
}

.notification-button {
	border-radius: 0.625rem;
}

.notification-floating .notification {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.06);
}

.notification-fixed-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

.notification-fixed-bottom-right {
	position: fixed;
	top: initial;
	bottom: 0;
	right: 0;
	z-index: 999;
	width: 100%;
}

/* // Images */

/* Used for images that have a placeholder before it loads. The image container should have a padding-bottom inline with the result of (image height/ image width) * 100 */

.img-absolute {
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	vertical-align: middle;
	text-indent: -9999px;
	z-index: 1;
}

.img-absolute-centered {
	left: 50%;
	transform: translateX(-50%) !important;
	-webkit-transform: translateX(-50%) !important;
	-ms-transform: translateX(-50%) !important;
}

.card-img {
	margin: 0 5px 5px 0;
	border: 1px solid #00000012;
}

.card-img-small {
	height: 25px;
}

.card-img-medium {
	height: 35px;
}

.card-img-big {
	height: 50px;
}

.card-img-square-container {
	position: relative;
	width: 100%;
	padding-top: 100%;
}

.card-img-square {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-img-pill {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
}

/* // Forms */

.form-group {
	position: relative;
	width: 100%;

	.form-select-icon {
		position: absolute;
		bottom: 12px;
		right: 0;
		pointer-events: none;
	}
}

.form-row {
	width: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
	clear: both;

	> {
		.col,
		[class*="col-"] {
			padding-right: 5px;
			padding-left: 5px;
		}
	}
}

.form-label {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}

.form-toggle-eye {
	position: absolute;
	top: 20px;
	right: 2px;
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	background: none;
	border: 0;
}

/* // Video */

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;

	&.embed-responsive-16by9 {
		padding-bottom: 56.25%;
	}

	.embed-responsive-item,
	embed,
	iframe,
	object,
	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.video-player {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.video-player-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
	font-size: 60px;
	line-height: 30px;
	text-align: center;
	pointer-events: none;
}

.video-image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* // Min width 768px */

@media (min-width: 768px) {
	.swiper-nav-button {
		font-size: var(--font-big);
	}

	/* //// Placeholders */

	.blur-up {
		-webkit-filter: blur(4px);
		filter: blur(4px);
		-moz-filter: blur(4px);
		-ms-filter: blur(4px);
		-o-filter: blur(4px);
		transition: filter 0.5s, -webkit-filter 0.2s;
	}

	/* //// Components */

	.container-narrow {
		max-width: 680px;
	}

	.h1-md {
		font-size: 28px;
		font-weight: 700;
	}

	.h2-md {
		font-size: 24px;
		font-weight: 700;
	}

	.h3-md {
		font-size: 20px;
		font-weight: 700;
	}

	.h4-md {
		font-size: 18px;
		font-weight: 700;
	}

	.h5-md {
		font-size: 16px;
		font-weight: 700;
	}

	.h6-md {
		font-size: 14px;
		font-weight: 700;
	}

	.font-md-normal {
		font-size: 14px;
	}

	.breadcrumbs {
		font-size: var(--font-base);
	}
}

/* Custom select */
.custom-select {
	position: relative;
	border: 1px solid var(--main-foreground) !important;
	border-radius: 6px;

	&-button {
		appearance: none;
		background: var(--main-background);
		padding: 5px 15px;
		border-radius: 6px;
		width: 100%;
	}

	&-icon {
		float: right;
	}

	&-list {
	    border: 1px solid var(--main-foreground);
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1;
		background: var(--main-background);
		border-radius: 0 0 6px 6px;
	}

	&-option {
		display: block;
		&:hover:not(.btn-variant-no-stock) {
			color: var(--main-background);
			background-color: color-mix(in srgb, var(--accent-color) 55%, #fff 15%) !important;
		}
	}

	&.is-open {
		.custom-select-button {
			border-radius: 6px 6px 0 0;
		}
	}
}