.section-brands-home {
    margin-bottom: 25px;
    

    .swiper-wrapper {
        transition-timing-function: linear !important;
        align-items: center;
        
    }
    
	// .brand-image {
    //     aspect-ratio: 57 / 53;
	// }

    
}
  

