/* Welcome message */

.section-welcome-home {
  padding: 70px 0;
  text-align: center;
}

.welcome-title {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.welcome-text {
  line-height: 18px;
}

/* // Min width 768px */
@media (min-width: 768px) {}
